/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --primary: #6c63ff;
  --dark: #1e1e2f;
  --light: #ffffff;

  --font-lg: 3rem;
  --font-md: 1.5rem;
  --font-sm: 1rem;

  --transition: all 0.3s ease;
}

body {
  font-family: Arial, sans-serif;
  color: var(--dark);
  background: #f5f5f5;
}

img {
  max-width: 100%;
  height: auto;
}