/* NAVIGATION */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--dark);
  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--primary);
}

/* BUTTON */
.btn {
  background: var(--primary);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: var(--transition);
}
.cta-btn {
  margin-top: 25px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: 350px; /* All images same height */
  object-fit: cover; /* Prevent stretching */
  border-radius: 10px;
}

/* SECTION TITLE */
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: "";
  width: 50px;
  height: 3px;
  background: var(--primary);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* ANIMATION */
@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content {
  animation: fadeSlideUp 1s ease forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.cta-btn {
  animation: pulse 2s infinite;
}
