body {
  margin: 0;
  font-family: system-ui;
  transition: 0.3s;
}

body.light {
  background: #f1f5f9;
  color: #0f172a;
}

body.dark {
  background: #0f172a;
  color: #f1f5f9;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.controls input, select, button {
  margin: 5px;
  padding: 8px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  background: #1e293b;
  color: white;
  transition: 0.3s;
}

body.light .card {
  background: white;
  color: black;
}

.card button {
  margin-top: 10px;
}

.loader {
  text-align: center;
  font-size: 20px;
}

.hidden {
  display: none;
}

.notification {
  text-align: center;
  padding: 10px;
  color: red;
}